:root{
	--secondary-background-color:#22303C;
}

.chatbox__body{
	flex: 0.65;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header{
	width: 100%;
	flex: 0.10;
	background-color: #22303C;
	text-align: center;
	color: white;
	display: flex;
	padding: 0rem 1rem;
	align-items: center;
}

.chatbox__body .channel__info{
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding-left: 1rem;
	row-gap: 0.5rem;
	align-items: flex-start;
}

.channel__info h2{
	font-size: 1.2rem;
}

.chatbody{
	flex: 0.83;
	background-image: url("../../Images/chatbackground.jpg");
	background-position: center;
	background-repeat: repeat;
	overflow: auto;
	padding:1.5rem
}

.chat__footer
{
    flex:0.07;
    background-color: #22303C;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__footer > form
{
    flex:1;
    display: flex;
    
}

.chat__footer > form > input
{
    flex:1;
    
    padding:0.5rem;
    border-radius:1.5rem;
    border:none;
    outline:none;
}

.chat__footer > form > button
{
    display: none;
}

