:root
{
  --primary-background-color:#ECE5DD;
  --app-background-color:#15202B;
}

.App
{
  display: grid;
  place-items: center;
  background-color: var(--primary-background-color);
  height:100vh;
}

